!!! 5
%html{lang: "en"}
  %head
    %meta{ charset: "utf-8" }
    %title= 'Canvas Data Miner'
    %link{ rel: "stylesheet", href: "//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" }
  %body
    .container
      %h1 Canvas Data Miner
      -if @message
        .alert.alert-warning
          =@message
      = yield
